.App {
  text-align: center;
  min-height: 30vw;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.full-day {
  text-decoration: line-through;
}

.web-dev {
  bottom: 36px;
  padding-top: 121px;
  color: white;
  padding: 36px 9px;
  position: absolute;
}

.home-locations {
  display: flex;
  flex-wrap: wrap;
  width: 81%;
}

.coaches {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.profile-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  padding-bottom: 36px;
}

.child-name {
  text-transform: capitalize;
}

.enroll-button-container {
  display: flex;
  
}

.enroll-button-trial {
position: relative;
}

.button1 {
display: flex;
padding-top: 18px;
margin-bottom: 18px;
}


.button2 {
  display: flex;
  padding-top: 24px;
  margin-bottom: 36px;
  }

.artemie {
  margin-bottom: 0;
}

.slider {
  width: 90%;
  padding: 33% 0px 0px 66px;
}

.head {
  transition: .3s;
}

.link:hover .head {
  fill: white;
}


#location {
  padding: 36px 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.footer-glasstop {
  width: 81%;
}

.home {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    overflow: hidden;
    position: absolute;
  }

  .slider {
    width: 290px !important;
    padding: 18% 0px 0px 1% !important;
  }


  .footer {
    width: 100%;
    padding: 36px 0px !important;
  }

  .footer-copyright {
    width: 81%;
    text-align: center;
  }

  .bio-info {
    display: unset !important;
  }

  .bio {
    padding: unset !important;
  }

  .button2 {
    display: flex;
    }

  html {
    scroll-behavior: smooth;
  }

  .blurb {
    text-align: justify;
    margin: 0;
    width: 300px !important;
  }

  #location {
    padding: 36px !important;
  }

  .enroll {
    padding: 36px !important;
  }

  .title-container {
    margin-bottom: 19px;
  }

  .button1 {
    margin-bottom: 0px !important;
    }

  .text-container {
    padding: 252px 18px 0px 18px !important;
    z-index: 1;
    position: relative;
    align-items: flex-start !important;
  }

  .home-img {
    height: 333px;
    position: absolute;
    /* width: 925px !important; */
    padding-top:81px !important;

  }

  .private {
    padding: 36px !important;
  }

  .bring {
    padding: 36px !important;
    width:100%;
  }

  .map {
    width: 100%;
    height: 250px;
    padding-top: 9px;
  }

  


  .locations {
    flex-direction: column !important;
  }

  #coaches {
    padding: 36px !important;
    align-items: center;
    justify-content: center;
  }

  .first {
    flex-direction: column;
    height: 540px !important;
    background-position: 100% -20% !important;
    /* padding-top: 199px; */
    width: 100%;
  }

  .title {
    display: none !important;
  }

  #pricing.pricing {
    padding: 36px;
  }

  .input-dates{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .second-text-container {
    padding-left: 0px;
  }

  .second {
    width: 100%;
    padding: 36px !important;
  }

  .enroll-button-container {
  flex-direction: column;
  padding-left: 3%;
  }


  .profile-img {
    width: 300px !important;
  }

  .enroll-button {
    background-color: transparent !important;
    margin-top: 54px;
    position: absolute;
  }

  .enroll-button1 {
    background-color: transparent !important;
    margin-top: 9px;
  }

  .bring-h3 {
    width: 80%;
  }

  .contact {
    padding: 36px  !important;
  }

  .enroll-home {

  }

}
@media screen and (max-width: 769px) {

  .first {
    flex-direction: column;
    height: 540px !important;
    background-position: 80% 90px !important;
    padding-top: 199px;
  }
}

@media screen and (max-width: 600px) {
  .slider {
    width: 240px !important;
    padding: 28% 0px 0px 1% !important;
  }
}

@media screen and (max-width: 450px) {
  .second {
    width: 100% !important;
  }

  .home-locations {
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  .a {
    justify-content: center !important;
  }
}

.enroll-home {
  padding-top: 6px;
  text-decoration: none;
  color: black;
  padding: 21px 54px;
  background-color: #abdb8f;
  border-radius: 3%;
  transition: .3s;
  width: 300px;
}

.place {
  margin-bottom: 0;
}

.beacon {
  margin: 0px 0px 18px 0px;
}

.map {
  margin-top: 18px;
}

.enroll-home:hover {
  text-decoration: none;
  color: white !important;
  background-color: black;
}

.home-img {
  width: 100%;
  padding-top:39px;
}


.enroll-button2 {
  padding: 27px 72px;
  background-color: #abdb8f;
  font-size: x-large;
  color: white;
  margin-top: 18px;
  transition: .3s;
  font-weight: 600;
  letter-spacing: .3mm;
}

.enroll-button2:hover {
  padding: 27px 72px;
  background-color: white;
  font-size: x-large;
  color: black;
  margin-top: 18px;
}

.enroll-enroll {
  color: white;
  font-weight: 700;
}

.acalades2 {
  margin: 0;
  padding-bottom: 9px; 
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #abdb8f;
  padding: 36px ;
  color: white;
}

.footer-copyright {
  margin: unset;
}

.string {
  background-color: black;
  color: white;
  padding:36px;
}

.private {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 36px 36px 36px 270px;
}

.machine {
  color:  #abdb8f;
}


#coaches {
  display: flex;
  flex-direction: column;
  padding: 24px 270px;
  text-align: start;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
}

.consent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.acalades {
  margin: 0;
padding-bottom: 9px;
padding-top: 9px;
white-space: nowrap;
}

.consent {
  padding: 0 9px;
}

.blurb {
  text-align: justify;
  margin: 0;
  width: 360px;
}



.bring {
  display: flex;
  flex-direction: column;
  padding: 36px 270px;
  align-items: flex-start;
  justify-content: flex-start;
}

.phone {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  flex-wrap: wrap;
}

p {
  margin: 0;
}

/* .enroll-button-container {
  margin-top: 100px;
} */

.sub-container {
  margin: 12px 0;
}

.enroll-sub {
  font-weight: 900;
  margin-top: 45px;
}

.enroll-button {
  background-color: white;
  font-weight: 900;
  font-size: larger;
  cursor: pointer;
  color: black;
  border: none;
}

.enroll-button1 {
  background-color: white;
  font-weight: 900;
  font-size: larger;
  cursor: pointer;
  color: black;
  border: none;
  margin: 9px;
}

.bio-info {
  display: flex;
}

.bio {
  padding: 18px;
}

.enroll-button:hover {}

.title {
  font-size: 42px;
  display: flex;
  color: #abdb8f;
  /* align-items: flex-start; */
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 0.88em;
  font-weight: 800;
  transform: scale(1, 1.6);
  -webkit-text-stroke: 1.3px black; 
  width: 80%;
  padding-bottom: 36px;
}

.title9 {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: -0.003em;
  line-height: .88em;
  font-weight: 900;
  transform: scale(1, 1.3);
  color: #abdb8f;
  padding: 9px;
  /* transform: scale(1, 1.1);
  -webkit-text-stroke: .6px white; */
}

.a {
  color: black;
  width: 360px;
  display: flex;
justify-content: flex-end;
align-items: center;
}

.sub2-container {
  margin: 54px 0 36px 0;
}


.title-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-title {
  color: #abdb8f;
  font-weight: 900;
  font-size: 36px;
  transform: scale(1, 1.1);
  -webkit-text-stroke: 1px black;
}

.contact-link {
  color: white;
  text-decoration: none;
  margin: 0;
}

.h2 {
  margin: 0;
}

.h3 {
  margin: 18px 0;
}

.sub-title2 {
  padding-top:3px;
  color: black;
  font-size: 36px;
  transform: scale(1, 1.1);
  -webkit-text-stroke: 1px black;
  font-size: x-large;
}

.sub-title4 {
  padding-top:3px;
  color: #abdb8f;
  font-weight: 900;
  transform: scale(1, 1.1);
  -webkit-text-stroke: 1.3px black;
  font-size: xx-large;
  margin: 0;
}

.title2 {
  color: #abdb8f;
  /* font-weight: 900; */
  font-size: 36px;
}


.profile-img {
  width: 360px;
  padding: 18px 0;
  border-radius: 3%;
}

h1 {
  margin: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 360px 18px 0px 360px; */
  z-index: 1;
  width: 100%;
  position: absolute;
  /* line-height: .88em; */
}

.left-container {
  width: 60%;
  overflow: hidden;
}

.right-container {
  width: 40%;
  position: absolute;
}

.first {
  background-image: url("./images/650178022-huge.jpg");
  background-attachment: fixed;
  background-position: 100% 111px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100%;
  display: flex;
  align-items: center;
  height: 888px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.second {
  /* display:flex; */
  background-color: black;
  color: white;
  padding: 36px 270px;
  text-align: start;
}


.second-text-container {
  /* padding-left: 400px; */
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: 27px 27px 27px 270px;
}

.enroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: 36px 270px;

}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}