
.enroll-page {
  padding: 77px 18px 36px 18px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.input {
  margin: 9px;
  padding: 9px;
}

.date {
  display: inline-block;
  padding: 9px;
  margin: 9px;
}

.payment {
  color: black;
  font-size: larger;
}

.submit { 
  margin-top: 36px;
  padding: 9px;
  background-color: white;
}