.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 54px;
  padding: 9px;
  width: 100%;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav-text {
    display: none;
  }

  .hamburger {
    position: absolute;
    top: 3px;
    right: 20px;
    display: inline-block;
  }

  .nav-container {
    background-color: #ABDB8F;
  }

}

.page {
  background-color: black;
  position: absolute;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0 18px;
  padding: 18px;
  font-weight: 900;
}

.link:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  margin: 0 18px;
  cursor: pointer;
}

#bar {
  color: white;

  display: block;
  transition: .5s transform;
  transition-timing-function: cubic-bezier(.38, .52, .37, 1.27);
}

a {
  text-decoration: none;
}

.nav-link {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  /* padding: 18px;
  margin: 72px; */
}

#nav-toggle {
  position: absolute;
  opacity: 0;
  display: none;
  background-color: white;
}

.menu {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 250px;
  z-index: 1;
  background-color: white;
}

#nav-toggle~label {
  display: block;
  -webkit-transition: .5s transform;
  transition: .5s transform;
  -webkit-transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
  transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
  padding: 15px 0;
  border: 1px solid grey;
  border-radius: 3px;
  width: 66px;
  text-align: center;
  border: none;
  z-index: 1;
  color: white;
}

#nav-toggle:checked~label {
  background-color: grey;
  color: white;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
}

#nav-toggle:checked~label::before {
  content: "Close";
}

#nav-toggle:checked~label .toggle-words {
  display: none;
}

#nav-toggle:checked~.menu {
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
}

.menu {
  cursor: pointer;
  background-color: #ABDB8F;
  -webkit-transition: .53s transform;
  transition: .53s transform;
  -webkit-transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);
  transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
}

.menu li Link {
  text-decoration: none;
  color: grey;
  padding: 20px;
  display: block;
  border-bottom: 1px solid #ccc;
}



li {
  margin: 18px;
}