.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 36px;
  padding: 9px;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0 18px;
  padding: 18px;
  font-weight: 900;
}

.link:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  margin: 0 18px;
  cursor: pointer;
}