
.enroll-page {
  padding: 96px 0px 63px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.link-payment {
 margin: 9px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.input-date {
  margin: 18px 0;
}

.dates-title {
  margin-bottom: 0;
}

.input-dates{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 36px;
}

.questions {

}


.form {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  width: 80%
}

.waiver {
  width: 90%;
}

.consent-popup {
  width: 100%;
}

.input {
  margin: 9px auto;
  /* padding: 9px 50px; */
  font-weight: 300;
  font-size: x-large;
}

.enroll-one {
  margin: 9px;
  padding: 9px;
  font-size: medium;
  border: 1px solid black
}

.date {
  display: inline-block;
  padding: 9px;
  margin: 9px;
}

.payment {
  color: black;
  font-size: larger;
}

.submit { 
  padding: 18px 36px;
  font-weight: 800;
  border: 1.4px solid black;
  background-color: white;
  display: flex;
  color: black;
}