
.enroll-page {
  padding: 96px 0px 63px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.link-payment {
 margin: 9px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-date {
  margin: 18px 0;
}

.dates-title {
  margin-bottom: 0;
}

.input-dates{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 36px;
}

.questions {
display: flex;
flex-direction: column;
}


.form {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  width: 80%;
  align-items: center;
}

.waiver {
  width: 100%;
  text-align: justify;
  padding-bottom: 9px;
}

.consent-popup {
  width: 100%;
}

.input {
  margin: 9px 0px 18px 0px;
  /* padding: 9px 50px; */
  font-weight: 300;
  font-size: large;

}

.enroll-one {
  margin: 9px;
  padding: 9px;
  font-size: medium;
  border: 1px solid black
}

.date {
  display: inline-block;
  padding: 9px;
  margin: 9px;
}

.payment {
  color: black;
  font-size: larger;
}

.input-question {
  
}

.submit { 
  padding: 18px 36px;
  font-weight: 800;
  border: 1.4px solid black;
  background-color: white;
  display: flex;
  color: black;
}

@media screen and (max-width: 850px) { 
.form {
  align-items: flex-start !important;

}

.input {
  width:100%;
}

 }