.modal {
  width: fit-content;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: .99;
  visibility: visible;
  margin-top: 633px;
  padding: 36px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}

.sign-in-input {
  margin: 9px 0px;
}

.modal-container {
  display: flex;
}

.form-dialog {
  width: 100%;
  max-width: 450px;
}
.modal-header {
  background: #ff5108;
}
.modal-body {
  overflow-y: auto;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
}
.modal-body h2 { 
  font-size: 24px;
}
.modal-body .subtitle {
  margin-top: 0;
  margin-bottom: 36px;
}
.modal-dialog-center {
  position: relative;
  margin: 30px auto;
}
.modal-header .close {
  margin-top: -2px;
  outline: none;
  opacity: 1;
  color: #fff;
}
.videoModal .modal-header {
  background: #fff;
}
.videoModal .modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
}
.videoModal .modal-body{
  padding: 9px 10px;
}
.videoModal .modal-header .close {
  color: #151515;
}
.modal-open .header {
  padding-right: 17px;
}
