.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ABDB8F;
  /* height: 93px; */
  position: fixed;
  padding: 9px;
  z-index: 99;
  width: 100%;
}

.nav {
  width: 100%;
  justify-content: flex-end;
  margin-right: 36px;
}

.nav-name {
  display: flex;
  flex-direction: column;
}

.link-profile {
  text-decoration: none;
  margin: 0px 15px;
  align-items: center;
}

.profileimg {
  display: flex;
  flex-direction: row;
  margin: 0 .5vw 0 0;
  width: 12px;
}

.dropdown-content-mini {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 199px;
  height: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 41px;
  cursor: pointer;
  align-items: flex-start;
  text-align: start;
  justify-content: flex-start;
}

.link#cart {
  color: #f1f1f1 !important;
}

.ball {
  width: 158px;
  height: 99px;
  margin-top: 3px;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.dropdown-content1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 1s;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .link {
  color: white;
}

.dropdown:hover .dropdown-content-mini {
  display: flex;
}

.dropdown-content {
  display: none;
  align-items: center;
  text-align: start;
  position: absolute;
  background-color: white;
  width: 700px;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 41px;
  cursor: pointer;
  margin: auto;
}
.dropdown-main {
  padding: 9px 18px;
  margin: 0 18px;
  color: black;
  transition: 0.3s;
  border-bottom: 0px solid black;
}

.dropdown-sub {
  padding: 12px 0px;
  margin: 0 18px;
  color: black;
  white-space: nowrap;
}

.dropdown-main:hover {
  border-bottom: 0.3px solid black !important;
}

.dropdown-columns {
  display: flex;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
}

.dropdown-column a {
  display: flex;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdown-column1 {
  display: flex;
  flex-direction: column;
}

.dropdown-column2 {
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 3%;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 18px 0px 18px 0px;
  white-space: nowrap;
}

.profile-link {
  display: flex;
}

.hamburger {
  display: none;
}

.head {
  transition: .222s;
}



.dropdown:hover .head {
  fill: white;
}

@media screen and (max-width: 1100px) {
  .link {
    font-size: x-small;
  }
}

@media screen and (max-width: 850px) {
  .nav-text {
    display: none;
  }

  .hamburger {
    position: absolute;
    top: 12px;
    right: 20px;
    display: inline-block;
  }

  .nav-container {
    top: 0;
    width: 100%;
    /* height: 72px !important; */
  }

  .ball {
    width: 135px;
    margin-top: 1px;
  }

}

.web-a{
  color: rgb(141, 139, 139);
  transition: .3s;
}

.facebook {
  color:white;
}

.social {
  padding-right: 18px;
}

.blurb {
  width: 330px;
}

.page {
  background-color: black;
  position: absolute;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}


.link {
  color: black;
  text-decoration: none;
  margin: 0 9px;
  padding: 9px;
  font-weight: 900;
  transition: .222s;
  display:flex;
  align-items: flex-end;
  text-transform: uppercase;
}

.link:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.name {
  padding: 0 6px;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content:hover {
transition: 3s;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.link:hover .dropdown-content {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  transition: .222s;
}


.dropdown-content-mini a:hover {background-color: #f1f1f1}

.link:hover .dropdown-content-mini {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown-content-mini a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

#bar {
  color: white;
  display: block;
  transition: .5s transform;
  transition-timing-function: cubic-bezier(.38, .52, .37, 1.27);
}

a {
  text-decoration: none;
}

.nav-link {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: white;
  padding: 3px;
  display: flex !important;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font-weight: 900;
}


button.sign-in {
  text-decoration: unset;
}

.nav-social {
  margin: 18px 9px ;
  /* margin-bottom: 33px; */
  position: absolute;
  bottom: 66px;
}

.nav-link-button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: white;
  padding: 6px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  display: block;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font-weight: 900; 
  border: 3px solid white;
  width: 30%;
  border-radius: 47%;
}

#nav-toggle {
  position: absolute;
  opacity: 0;
  display: none;
  background-color: white;
}

.menu {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 250px;
  z-index: 1;
  background-color: white;
}

#nav-toggle~label {
  display: block;
  -webkit-transition: .5s transform;
  transition: .5s transform;
  -webkit-transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
  transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
  padding: 15px 0;
  border: 1px solid grey;
  border-radius: 3px;
  width: 66px;
  text-align: center;
  border: none;
  z-index: 1;
  color: white;
}

#nav-toggle:checked~label {
  /* background-color: grey; */
  color: black;
  /* -webkit-transform: translateX(-250px);
  transform: translateX(-250px); */
padding: 9px 3px !important;
}

#nav-toggle:checked~label::before {
  content: 'X';
  font-size: 36px;
}

#nav-toggle:checked~label .toggle-words {
  display: none;
}

#nav-toggle:checked~.menu {
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
}

.menu {
  cursor: pointer;
  background-color: #ABDB8F;
  -webkit-transition: .53s transform;
  transition: .53s transform;
  -webkit-transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);
  transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);
  margin-top: 67px;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
}

.menu li Link {
  text-decoration: none;
  color: grey;
  padding: 20px;
  display: block;
  border-bottom: 1px solid #ccc;
}

li {
  margin: 18px;
}
