.profile-welcome {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.logout-button {
  margin-left: auto;
}

.logout-div {
  margin-left: auto;
}

.add-child {
  margin-top: 12vw;
}

.add-photo {
  margin-top: 8vw;
}

.pro-pic {
  
}