.review-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 33px;
}

.review-input {
  width: 100%;
}

.review-submit-btn {
  margin-top: 8px;
}

