.sessions-link {
  color: black;
}

.session-welcome {
  margin: 6px 0;
}

.session-input {
  margin-bottom: 2%;
}

.sessions-offered {
  padding: 36px;
}

.session-update {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.add-session {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
}

.sessions-offered h2 {
  margin: 0;
}

.session {
  display: flex;
  text-align: start;
  padding: 36px 9px;
  border-bottom: 1px solid black;
  margin: 36px 6px;
  cursor: pointer;
}

.session-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.session-seperator {
  display: flex;
  align-items: flex-end;
}

.session-info {
  padding: 18px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.session-info h2 {
  margin: 0;
}

.session-left {
  padding: 18px;
  margin-top: 36px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.session-left2 {
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.add-to-cart {
  font-size: 27px;
  padding: 18px 36px;
  background-color: black;
  color: white;
  border: none;
  transition: .222s;
  cursor: pointer;
  margin-top: 18px;
}

.add-to-cart:hover {
  padding: 18px 36px;
  background-color: #484848;
  color: white;
  border: none;
}

.session-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
}

.session-container {
  display: flex;
  align-items: center;
}

.session:hover {
  box-shadow: 0vw 0.2vw 1vw 1vw rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 850px) {
  
  .session {
    text-align: start;
  }
}

@media screen and (max-width: 500px) {
  .sessions-offered {
    padding: 9px !important;
  }
}
